{% extends based_template_name %}

{% block title %}Painters{% endblock title %}

{% block page_title %}
    <div class="container">
        <h1 class="text-left border-bottom pb-2 mt-3 mb-4">Painters</h1>
    </div>
{% endblock %}

{% load static %}
<link rel="stylesheet" href="{% static 'css/favorite_button.css' %}">



{% block content %}
    <div class="container">
        {% for painter in object_list%}
            {% if forloop.counter0|divisibleby:3 %}
                <div class="row" >
                    <div class="col-4 mb-5">
                        <div id = "card_{{ painter.id }}" class="card" style="width: 100%;">
                            <img class="card-img-top" src="{{ painter.photo.url }}" alt="Card image cap" style="height: 25rem; object-fit: cover;">
                            <div class="card-body" style="background: lightgray">
                                <div class="row justify-content-between">
                                    <a class="h5 ml-3 mt-2mr-auto" href="{% url 'painter' slug=painter.slug %}">{{ painter.name}}</a>
                                    {% if request.user.is_authenticated %}
                                        {% if painter in request.user.profile.favorite_painters.all  %}
                                            <button id="fav_button_{{ painter.id }}" onclick="removeFavoritePainter({{ painter.id }})" type="button" class="btn btn-danger mr-2">Unfav</button>
                                        {% else %}
                                            <button id="fav_button_{{ painter.id }}" onclick="addFavoritePainter({{ painter.id }})" type="button" class="btn btn-warning mr-2">Fav</button>
                                        {% endif %}
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
            {% else %}
                    {%  if not forloop.counter0|divisibleby:2 %}
                    <div class="col-4 mb-5">
                        <div id = "card_{{ painter.id }}" class="card" style="width: 100%;">
                            <img class="card-img-top" src="{{ painter.photo.url }}" alt="Card image cap" style="height: 25rem; object-fit: cover;">
                            <div class="card-body" style="background: lightgray">
                                <div class="row justify-content-between">
                                    <a class="h5 ml-3 mt-2 mr-auto" href="{% url 'painter' slug=painter.slug %}">{{ painter.name}}</a>
                                    {% if request.user.is_authenticated %}
                                        {% if painter in request.user.profile.favorite_painters.all  %}
                                            <button id="fav_button_{{ painter.id }}" onclick="removeFavoritePainter({{ painter.id }})" type="button" class="btn btn-danger mr-2">Unfav</button>
                                        {% else %}
                                            <button id="fav_button_{{ painter.id }}" onclick="addFavoritePainter({{ painter.id }})" type="button" class="btn btn-warning mr-2">Fav</button>
                                        {% endif %}
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
            {% else %}
                    <div class="col-4  mb-5">
                        <div id = "card_{{ painter.id }}" class="card" style="width: 100%;">
                            <img class="card-img-top" src="{{ painter.photo.url }}" alt="Card image cap" style="height: 25rem; object-fit: cover;">
                            <div class="card-body" style="background: lightgray">
                                <div class="row justify-content-between">
                                    <a class="h5 ml-3 mt-2 mr-auto" href="{% url 'painter' slug=painter.slug %}">{{ painter.name}}</a>
                                    {% if request.user.is_authenticated %}
                                        {% if painter in request.user.profile.favorite_painters.all %}
                                            <button id="fav_button_{{ painter.id }}" onclick="removeFavoritePainter({{ painter.id }})" type="button" class="btn btn-danger mr-2">Unfav</button>
                                        {% else %}
                                            <button id="fav_button_{{ painter.id }}" onclick="addFavoritePainter({{ painter.id }})" type="button" class="btn btn-warning mr-2">Fav</button>
                                        {% endif %}
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                        </div>
            {% endif %}
            {% endif %}
        {% empty %}
            <h5>There is no painters</h5>
        {% endfor %}
    </div>
{% endblock %}

{% block javascript %}
    <script>

    function addFavoritePainter (painter_id) {
        $.ajax({
        url: '{% url 'add_favorite_painter' %}',
        data: {'painter_id': painter_id},
        dataType: 'json',
        success: function (data) {
          if (!data.success) {
            alert("You can't do this");
          }
        }
        });
        let button = $(`#fav_button_${painter_id}`);

        button.attr('onclick', `removeFavoritePainter(${painter_id})`);
        button.text('Unfav');
        button.attr('class', 'btn btn-danger mr-2');
    }
    function removeFavoritePainter (painter_id) {
        $.ajax({
        url: '{% url 'remove_favorite_painter' %}',
        data: {'painter_id': painter_id},
        dataType: 'json',
        success: function (data) {
          if (!data.success) {
            alert("You can't do this");
          }
        }
        });

        let button = $(`#fav_button_${painter_id}`);

        button.attr('onclick', `addFavoritePainter(${painter_id})`);
        button.text('Fav');
        button.attr('class', 'btn btn-warning mr-2');
    }

  </script>
{% endblock %}


